<div ng-controller="AccountController">
    <h2 style="color:brown">{Amazon} User Profile</h2>
        <form name="accountCreationForm" ng-submit="submit()">
            <div>
                <label>Username</label>
                <input type="text" name="username" ng-model="username" required unique-username/>
                <div ng-messages="accountCreationForm.username.$error" role="alert">
                    <div ng-message="required">Enter a username</div>
                    <div ng-message="unique">Username already exists, pick a new one</div>
                </div>
            </div>
             <br/>
            <div>
                <label>Firstname</label>
                <input type="text" ng-model="firstname" />
            </div>
             <br/>
            <div>
                <label>Lastname</label>
                <input type="text" ng-model="lastname" />
            </div>
            <br/>
            <div>
                <label>Password</label>
                <input type="password" ng-model="password"/>
            </div>
            <br/><br/>
            <div>
                <label>CreditCard#</label>
                <input type="text" ng-model="creditCardNumber" />
            </div>
            <br/><br/>
            <div>
                <label> CreditCardType </label>
                <select ng-model="ccTypeName">
                    <option ng-repeat="cardType in cardTypes">{{cardType}}</option>
                </select>
            </div>
            <br/><br/>
            <div>
                <label>ExpiryDate</label>
                <input type="text" ng-model="expiryDate" />
            </div>
            <br/><br/>
            <div>
                <label>SecurityCode</label>
                <input type="text" ng-model="securityCode"/>
            </div>
             <br/><br/>
            <div>
                <button type="submit">Submit</button>
            </div>
    </form>
</div>
