<div ng-controller="AvatarController">
    <h2>{Amazon} User Profile</h2>
    <h4>User Information</h4>
    <div>
        <label>Username: </label>{{username}}
    </div>
    <div>
        <label>Firstname: </label>{{firstname}}
    </div>
    <div>
        <label>Lastname: </label>{{lastname}}
    </div>
    <h4>Credit Card Information</h4>
    <div>
        <label>Credit Card#: </label>{{creditCardNumber}}
    </div>
    <div>
        <label>Credit Card Type: </label>{{creditCardType}}
    </div>
</div>
