<div align="center" style="color:green" ng-controller="FillShoppingCartController">
    <div ng-repeat="category in categories">
        <p>
            <a href="javascript:void(0)" ng-click="toggleSelect(category.name)">{{category.name}}</a>
        </p>
        <div ng-if="selectedCategory.name == category.name">
            <table border="1" width="400" height="150">
                <tr>
                    <th>Item</th>
                    <th>Description</th>
                    <th>UnitPrice</th>
                    <th>Inventory</th>
                    <th>Quantity</th>
                </tr>
                <tbody ng-repeat="inventoryItem in selectedCategory.inventoryItems">
                    <tr>
                        <td align="center">{{inventoryItem.name}}</td>
                        <td align="center">{{inventoryItem.description}}</td>
                        <td align="center">${{inventoryItem.unitPrice}}</td>
                        <td align="center">{{inventoryItem.inventory}}</td>
                        <td align="center">
                            <input type="text" size="5" ng-model="quantity"/>
                            <button type="submit" ng-click="addToCart(shoppingCartId, inventoryItem.inventoryItemId, quantity)">Add</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <br/>
        <a href="javascript:void(0)" style="color:green" ng-click="ShoppingCartFactory.display(shoppingCartId)">Display Cart</a>
    </div>
    <div>
        <br/>
        <a href="javascript:void(0)" style="color:red" ng-click="ShoppingCartFactory.delete(shoppingCartId)">Delete Cart</a>
   </div>
    <div>
        <br/>
        <a href="javascript:void(0)" style="color:blue" ng-click="InvoiceFactory.checkout(shoppingCartId)">Checkout</a>
    </div>
</div>
