<div align="center" style="color:olive" ng-controller="RetrieveInvoicesController">
    <form name="retrieveInvoicesForm" ng-submit="retrieveInvoices()">
        <div style="color:olive" align="center">
            <label>Username for Invoices</label>
            <input type="text" name="username" ng-model="username" required validate-username/>
            <div align="center" ng-messages="retrieveInvoicesForm.username.$error" role="alert">
                <div style="color:red" ng-message="required">Enter a username</div>
                <div style="color:red" ng-message="validate">Enter a valid username</div>
            </div>
        </div>
        <div><br/></div>
        <div>
            <button type="submit">Retrieve Invoices</button>
        </div>
    </form>

    <div ng-if="isNoRetrievedInvoices">
        <br/>
        <b>No completed invoices found</b>
    </div>

    <div ng-repeat="invoice in invoices">
        <br/>
        <div>
            <b>Invoice Id:</b>{{invoice.invoiceId}}
        </div>
        <br/>
        <div>
            <label>Date: </label>{{invoice.date}}
        </div>
        <div>
            <label>Total Before Taxes: </label>${{invoice.totalBeforeTaxes}}
        </div>
        <div>
            <label>Taxes: </label>${{invoice.taxes}}
        </div>
        <div>
            <label>Total: </label>${{invoice.invoiceTotal}}
        </div>
        <div>
            <label>Confirmation Code:</label>{{invoice.transactionConfirmation}}
        </div>
    </div>
</div>
