<div align="center" style="color:olive" ng-controller="SaleSummaryController">
    <h4>Thank you for shopping@{Amazon}</h4>
    <div>
        <b>Invoice Id:</b>{{invoiceId}}
    </div>
    <br/>
    <div>
        <label>Date: </label>{{date}}
    </div>
    <div>
        <label>Total Before Taxes: </label>${{totalBeforeTaxes}}
    </div>
    <div>
        <label>Taxes: </label>${{taxes}}
    </div>
    <div>
        <label>Total: </label>${{invoiceTotal}}
    </div>
    <div>
        <label>Confirmation Code:</label>{{transactionConfirmation}}
    </div>
</div>