<div align="center" style="color:blue" ng-controller="SaleSummaryController">
    <div>
        <b>Invoice Id:</b>{{invoiceId}}
    </div>
    <div>
        <label>Total Before Taxes: </label>{{username}}
    </div>
    <div>
        <label>Firstname: </label>{{firstname}}
    </div>
    <div>
        <label>Lastname: </label>{{lastname}}
    </div>
    <h4>Credit Card Information</h4>
    <div>
        <label>Credit Card#: </label>{{creditCardNumber}}
    </div>
    <div>
        <label>Credit Card Type: </label>{{creditCardType}}
    </div>
</div>