<div align="center" style="color:green" ng-controller="ShoppingCartController">
    <h2 >{Amazon} Shopping Cart</h2>
    <form name="shoppingCartForm" ng-submit="createCart()">
        <div>
            <label>Username for Shopping Cart </label>
            <input type="text" name="username" ng-model="username" required validate-username/>
            <div align="center" ng-messages="shoppingCartForm.username.$error" role="alert">
                <div style="color:red" ng-message="required">Enter a username</div>
                <div style="color:red" ng-message="validate">Enter a valid username</div>
            </div>
        </div>
        <div><br/></div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
